{% extends "global/base.html" %}

{% block content %}
<main>
    <section id="entradas">
        <h2>Registro de Entradas</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="produto">Produto:</label>
                <input type="text" id="produto" name="produto" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="dataEntrada">Investimento R$</label>
                <input type="number" id="valorGasto" name="valorGasto" class="form-control" required>
            </div>
 
            <button type="submit" class="btn btn-primary">Adicionar Entrada</button>
        </form>
    </section>
</main>


{% endblock %}
