{% extends "global/base.html" %}

{% block content %}
<main>
    <section id="filtros">
        <h2>Filtrar Produtos</h2>
        <form method="POST" action="{% url 'home:lista_produtos' %}">
            {% csrf_token%}
            <label for="nome">Nome do Produto:</label>
            <input type="text" id="nome" name="nome" value="{{ nome_produto }}" placeholder="Digite o nome do produto">

            <label for="setor">Setor de Armazenamento:</label>
            <input type="text" id="setor" name="setor" value="{{ setor_armazenamento }}" placeholder="Digite o setor">

            <button type="submit">Filtrar</button>
        </form>
    </section>

    <section id="estoque">
        <h2>Itens em Estoque</h2>
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Lote</th>
                    <th>Quantidade</th>
                    <th>Vencimento</th>
                    <th>Setor de Armazenamento</th>
                    <th>Código de Barras</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.lote }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.vencimento }}</td>
                    <td>{{ produto.setor_armazenamento }}</td>
                    <td>{{ produto.codigo_barra }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Nenhum produto encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
</main>

{% endblock %}
