{% extends "global/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Cadastrar Produto</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        
        <!-- Produto Form -->
        <fieldset class="border p-4 mb-4">
            <legend class="w-auto">Informações do Produto</legend>
            {{ form.as_p }}
        </fieldset>

        <!-- Botões para abrir os modais -->
        <div class="form-group">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalFornecedor">
                Adicionar Fornecedor
            </button>
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalCategoria">
                Adicionar Categoria
            </button>
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalLote">
                Adicionar Lote
            </button>
        </div>

        <!-- Botão de Envio do Produto -->
        <button type="submit" class="btn btn-primary">Salvar Produto</button>
        <a href="{% url 'home:produtos_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
    {% endblock %}