{% extends "global/base.html" %}

{% block content %}
<main>
<section id="saidas">
    <h2>Registro de Saídas</h2>
    <form action="#" method="post">
        <!-- Campo Produto -->
        <div class="form-group">
            <label for="produtoSaida">Produto:</label>
            <input type="text" id="produtoSaida" name="produtoSaida" class="form-control" required>
        </div>

        <!-- Campo Quantidade -->
        <div class="form-group">
            <label for="quantidadeSaida">Quantidade:</label>
            <input type="number" id="quantidadeSaida" name="quantidadeSaida" class="form-control" required>
        </div>

        <!-- Campo Data de Saída -->
        <div class="form-group">
            <label for="dataSaida">Data de Saída:</label>
            <input type="date" id="dataSaida" name="dataSaida" class="form-control" required>
        </div>

        <!-- Botão de Envio -->
        <button type="submit" class="btn btn-primary">Adicionar Saída</button>
    </form>
</section>
</main>
{% endblock  %}