{% extends "global/partials/head.html" %}

{% block header %}
<header>
    <h1>Sistema de Gerenciamento de Estoque</h1>
</header>

<nav>
    <ul>
        <li><a href="{% url 'home:index' %}">Entradas</a></li>
        <li><a href="{% url 'home:index' %}#saidas">Saídas</a></li>
        <li><a href="{% url 'home:lista_produtos' %}">Estoque</a></li>
        <li><a href="{% url 'home:index' %}#leitura-codigo">Ler Código de Barras</a></li>
    </ul>
</nav>
{% endblock  %}

{% block content %}
{% endblock%}

{% block footer%}
<footer>
    <p>&copy; {{ year|date:"Y" }} Sistema de Gerenciamento de Estoque</p>
</footer>
{% endblock %}
