{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eciclum BETA</title>
    <link rel="shortcut icon" href="#eciclum-icon" type="image/x-icon">
    <!-- Custom fonts for this template-->
    <link href="{% static 'home/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'home/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'home/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'home/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'home/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'home/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'home/js/demo/chart-pie-demo.js' %}"></script>

</head>

<body id="page-top">
    <svg style="display: none; width: 500px;" xmlns="http://www.w3.org/2000/svg">
        <symbol id="eciclum-symbol" viewBox="0 0 595 820">
            <path
                d="M420.949 486C396.698 511.788 361.574 528 322.5 528C249.322 528 190 471.14 190 401C190 330.86 249.322 274 322.5 274C370.021 274 408 293.5 427.5 338.5"
                stroke="#085545" stroke-width="34" />
            <path d="M445.23 394.177L371 328.392L428.94 337.404L469.474 298L445.23 394.177Z" fill="#085545" />
            <path d="M242 575L457 537.5" stroke="#085545" stroke-width="15" stroke-linecap="round" />
            <path d="M212.5 561L114 282" stroke="#085545" stroke-width="15" stroke-linecap="round" />
            <ellipse cx="219.5" cy="585" rx="33.5" ry="32" fill="#085545" />
            <path d="M114.5 282.562C109.5 270.062 78.1803 269.794 66 291.562" stroke="#085545" stroke-width="15"
                stroke-linecap="round" />
            <path
                d="M446 445C446.889 453 437 463.5 428 461.5C423.306 461.5 419 453.904 419 447C419 439 440.806 421 445.5 421C445.5 422.5 445 436 446 445Z"
                fill="#085545" />
            <path
                d="M435.5 437.5C433.5 438 431.079 441.981 425.5 461L428 461.5C431.698 446.717 430.608 442.173 435.5 437.5Z"
                fill="white" stroke="white" />
        </symbol>
    </svg>
    <!-- <svg style="display: none; background-color: transparent;" xmlns="http://www.w3.org/2000/svg"> -->
    <div id="wrapper">
        {% block sidebar %} {% endblock %}
        {% block topbar %} {% endblock %}
        {% block content %} {% endblock %}
        {% block footer %} {% endblock %}
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>